{% extends "polls/base.html" %}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/cad.css'%}">
<script type="text/javascript" src="{%static 'ifoodApp/javascript/cad.js'%}"></script>
<form id="formCad"action="{%url 'cad' %}" method="POST">
    {% csrf_token %}
<div class="field">
    {% for field in user %}
    <div class="field">
      {%if field.id_for_label == "id_password" %}
        <label class="pass" id="pass_count" for="{{field.id_for_label}}">{{pass}}</label>
        <label class="pass" id="pass" for="{{field.id_for_label}}">Minimo de 8 Caracteres</label>

        {% endif %}
        {%if field.id_for_label == "id_email" %}
        <label class="pass" id="email" for="{{field.id_for_label}}">{{email}}</label>
        {% endif %}
      {{ field }}
      <div class="line"></div>
    </div>
  {% endfor %}
   <div class="field">
    {% for field in endereco %}
    <div class="field">
      {{ field }}
      <div class="line"></div>
    </div>
  {% endfor %}
  <label id="fill">{{ fill }}</label>
  <label id="emailCad">{{ emailCad }}</label>
  <a id="login" href="{%url 'index' %}">Entrar</a>
  <label id="visiPass">Senha Visivel</label>
          <img id="toggle" onclick="togglePass()" 
        src="{%static 'ifoodApp/img/hidden_pass.jpg'%}"
        data-view="{%static 'ifoodApp/img/view_pass.jpg'%}"
        data-hidden="{%static 'ifoodApp/img/hidden_pass.jpg'%}"></img>
    <div class="buttons">
        <button class="blob-btn">
          Cadastrar
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <br/>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>

</form>

{%endblock%}
