{% extends "polls/base.html" %}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/confirm_em.css'%}">
<form action="{%url 'confirm_email'%}" method="POST">
    {% csrf_token %}
    <div class="field">
        <input name="confirm_em" autocomplete="off" id="confirm" type="number" placeholder="Insira seu codigo de recuperacao"/>
        <div class="line"></div>
      </div>
    <button class="blob-btn" type="submit" id="lEntrar">       
          Confirmar Codigo
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <br/>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
</form>
{%endblock%}