{% extends "polls/base.html" %}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/password.css'%}">
<form action="{%url 'password_change'%}" method="POST">
<script type="text/javascript" src="{%static 'ifoodApp/javascript/pass.js'%}"></script>
    {{invalid}}
    {% csrf_token %}
    <label>Para sua seguranca enviaremos um codigo de verificacao para o email cadastrado</label>
    <div class="field">
      
        <input name="password" oninput="wPass()" autocomplete="off" id="pass" type="password" placeholder="Insira sua nova senha"/>
         
        <div class="line"></div>
        <img id="toggle" onclick="togglePass()" 
        src="{%static 'ifoodApp/img/hidden_pass.jpg'%}"
        data-view="{%static 'ifoodApp/img/view_pass.jpg'%}"
        data-hidden="{%static 'ifoodApp/img/hidden_pass.jpg'%}"
        ></img>
      </div>
          <div class="field">
        <input name="conf_password" oninput="checkPassword()" autocomplete="off" id="conf_pass" type="password" placeholder="Confirme sua nova senha"/>
        <div class="line"></div>
      </div>
      
      <label id="checkP">As senhas não coincidem!</label>
      <label id="w_pass">{{wrong_pass}}</label>
    
    <button class="blob-btn" type="submit" id="lEntrar">       
            Alterar Senha
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <br/>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
</form>
{%endblock%}