{% extends "polls/base.html"%}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/platform.css'%}">
<script type="text/javascript" src="../static/ifoodApp/javascript/platform.js"></script>
<a href="{%url 'pizza'%}">Pizza</a>

<a href="{%url 'temaki_salmao'%}">temaki de salmao</a>

<a href="{%url 'esfiha'%}">esfiha</a>

<a href="{%url 'bolo'%}">bolo de leite ninho</a>

<a href="{%url 'sorvete'%}">sorvete de baunilha</a>

<a href="{%url 'coca_cola'%}">coca cola</a>

<a href="{%url 'revisar_pedido'%}">Carrinho</a>
<form action="{%url 'platform' %}" method="POST">
    {% csrf_token %}
    <button></button>
</form>
<button onclick="show(aside)">xagas</button>
<aside id="aside">
    <table id="a">
        <td>Produto</td>
    {%for product in products%}
        <tr>
            <td class="product"> {{product}} </td>
        </tr>
{%endfor%}
    </table>
    <table id="b">
        <td>Quantidade</td>
{%for quant in quants%}
    <tr id="teste">
        <td class="quant"> {{quant}} </td>
    </tr>
{%endfor%}
    </table>
    <table id="c">
        <td>Total</td>
{%for price in prices%}
    <tr>
        <td class="price"> {{price}}</td>
    </tr>
{%endfor%}
</table>
<label id="valor">Valor do Pedido</label>
<label id="total" for="valor">R${{total}}</label>
<form action="{%url 'revisar_pedido'%}" return false;>
<button id="xin" onclick="">Finalizar</button>
</form>
{%endblock%}