{% extends "polls/base.html" %}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/rec_pass.css'%}">
<form action="{%url 'rec_password' %}" method="POST">
    {{invalid}}
    {% csrf_token %}
    <label>Para sua seguranca enviaremos um codigo de verificacao para o email cadastrado</label>
    <div class="field">
        <input name="rec_email" autocomplete="off" id="username"  type="email" placeholder="Insira seu email"/>
        <div class="line"></div>
      </div>
    <button class="blob-btn" type="submit" id="lEntrar">       
          Enviar Codigo
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <br/>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
</form>
{%endblock%}