{%load static%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static 'ifoodApp/css/revisao.css'%}">
    </head>
        <body>
            {%block aside%}
    <table id="a">
        <td>Produto</td>
    {%for product in products%}
        <tr>
            <td class="product"> {{product}} </td>
        </tr>
{%endfor%}
    </table>
    <table id="b">
        <td>Quantidade</td>
{%for quant in quants%}
    <tr id="teste">
        <td class="quant"> {{quant}} </td>
    </tr>
{%endfor%}
    </table>
    <table id="c">
        <td>Total</td>
{%for price in prices%}
<tr>
    <td class="price"> {{price}} </td>
</tr>
{%endfor%}
<label id="">R${{total}}</label>
{%endblock%}
<form action="{%url 'revisar_pedido' %}" method="POST">
    {%csrf_token%}
    <a href="{%url 'platform'%}" id="continue">Continuar comprando?</a>
    <button id="confirm">Confirmar Pedido</button>
</form>
    </table>
        </body>
</html>