input{
  font-size:40px;
  width:50%;
}
.field .line{
  width:50%;
}
input#id_numero::-webkit-inner-spin-button,
input#id_numero::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input#id_phoneNumber::-webkit-inner-spin-button,
input#id_phoneNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label#fill{
  display: block;
}
label#emailCad{
  display: block;
}
label{
    color: red;
    font-family: font;
    font-size: 40px;
}
label#pass_count{
  display: inline;
  color: red;
  font-family: font;
  font-size: 30px;
}
label#pass{
  display: none;
  position:absolute;
  margin-left:51%;
  margin-top:2%;
}
label#email{
  display: inline;
  color: red;
  font-family: font;
  font-size: 30px;
}
a#login{
  margin-left:0%;
  font-size:50px;
}
button{
  margin-left:20%
}
label#visiPass{
  display:inline-block;
  color:#000000;
  margin-left:30%;
  margin-top:2%;
}
img#toggle{
    position:absolute;
    width:4%;
    margin-left:1%;
    margin-top:1.5%;
}