input{
  font-size:40px;
  width:50%;
}
.field .line{
  width:50%;
}
a {
    font-size:30px;
    background-image: linear-gradient(
      to right,
      #ff7d00,
      #ff0000 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #ffd53e;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
a#cad{
  margin-left:480px;
}