input{
    width:70%;
    font-size:40px;
    padding-left:10px;
    
}
div.field{
    margin-left:25%;
}
.field .line{
    width:70%
}
label{
    margin-left:25%;
    color: white;
    font-family: font;
    font-size: 40px;
}
button{
    border-radius: 20px;
    font-size: 20px;
    font-family: font;
    width: 150px;
    height: 75px;
    margin-left:25%;
    display: grid;
}
label#checkP{
    color: red;
    display: none;
}
label#w_pass{
    color: red;
}
img#toggle{
    position:absolute;
    width:5%;
    margin-left:29px;
    margin-top:30px;
}