aside#aside{
    display: none;
    background-color: black;
    position:absolute;
    margin-left:1450px; 
    width:400px;
    height:99%;
    background-color: rgba(255, 254, 254, 0.1);
    border-radius: 10px;
}